1) Importing the .csv Files

In [ ]:
import pandas as pd
import glob
import os

# Folder path
folder_path = r"C:\Users\acts5\OneDrive\Test Data Files"

# Get all file paths
files = glob.glob(os.path.join(folder_path, "*.csv"))

#store each file
dfs = []
for f in files:
    df = pd.read_csv(f)
    dfs.append(df)
    print(f)

C:\Users\acts5\OneDrive\Test Data Files\ArianaSmith_2025-11-05_14-45-15_data.csv
C:\Users\acts5\OneDrive\Test Data Files\DesireeAlamanche_2025-11-07_15-02-59_data.csv
C:\Users\acts5\OneDrive\Test Data Files\EmilyRestmeyer_2025-11-06_21-06-33_data.csv
C:\Users\acts5\OneDrive\Test Data Files\EzraPanjwani_2025-11-06_21-30-16_data.csv
C:\Users\acts5\OneDrive\Test Data Files\GayatriBrijesh_2025-11-05_15-27-23_data.csv
C:\Users\acts5\OneDrive\Test Data Files\KyleChen_2025-11-06_14-02-12_data.csv
C:\Users\acts5\OneDrive\Test Data Files\LaurenMathios_2025-11-06_20-52-24_data.csv
C:\Users\acts5\OneDrive\Test Data Files\LeannaYumul_2025-11-05_12-29-19_data.csv
C:\Users\acts5\OneDrive\Test Data Files\Niru_2025-11-06_15-02-02_data.csv
C:\Users\acts5\OneDrive\Test Data Files\PariRadhaSharma_2025-11-07_15-20-59_data.csv
C:\Users\acts5\OneDrive\Test Data Files\RashmikaManu_2025-11-07_12-27-40_data.csv

In [4]:
#combine into one dataset
posture_df = pd.concat(dfs, ignore_index=True)

#Preview
posture_df.head()

,timestamp,session_id,label,total_force_N,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_62,sensor_63,name,gender,age,height_cm,weight_kg,ethnicity,chair_type,work_activity
0,29150,ArianaSmith_2025-11-05_14-45-15,neutral,663.65,495,503,488,482,488,479,...,441,436,Ariana Smith,F,22,170,65,White,Office,Computer
1,29293,ArianaSmith_2025-11-05_14-45-15,neutral,663.65,495,502,488,482,488,478,...,441,436,Ariana Smith,F,22,170,65,White,Office,Computer
2,29436,ArianaSmith_2025-11-05_14-45-15,neutral,663.65,495,502,488,482,488,478,...,441,436,Ariana Smith,F,22,170,65,White,Office,Computer
3,29581,ArianaSmith_2025-11-05_14-45-15,neutral,663.74,495,502,488,482,488,479,...,441,436,Ariana Smith,F,22,170,65,White,Office,Computer
4,29724,ArianaSmith_2025-11-05_14-45-15,neutral,663.67,495,502,488,482,488,478,...,441,436,Ariana Smith,F,22,170,65,White,Office,Computer